<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>基本列表</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" v-model="keyWord" placeholder="请输入姓名">
        <ul>
            <!-- of可以替代in -->
            <li v-for="(p,index) of filPersons" :key="p.id">
                {{p.name}}-{{p.age}}--{{p.sex}}
            </li>
        </ul>

    </div>
</body>
<script>
    // 监视属性实现
    /*new Vue({
        el: '#root',
        data: {
            keyWord:'',
            persons: [
                { id: '001', name: '马冬梅', age: 18,sex:'女' },
                { id: '002', name: '周冬雨', age: 19,sex:'女' },
                { id: '003', name: '周杰伦', age: 20,sex:'男' },
                { id: '004', name: '温兆伦', age: 21,sex:'男' },
            ],
            filPersons:[]
        },
        // 用监视属性实现
        watch:{
            keyWord:{
                immediate:true,
                handler(val){
                    this.filPersons = this.persons.filter((p) => {
                        return p.name.indexOf(val) !== -1
                    })
                }
            }
        }
    })*/

    new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '马冬梅', age: 18, sex: '女' },
                    { id: '002', name: '周冬雨', age: 19, sex: '女' },
                    { id: '003', name: '周杰伦', age: 20, sex: '男' },
                    { id: '004', name: '温兆伦', age: 21, sex: '男' },
                ]
            },
            computed:{
                filPersons(){
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        })
</script>

</html>