<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插值语法实现姓名案例</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        全名：<span>{{firstName}}-{{lastName}}</span>
    </div>
</body>
<script>
    new Vue({
        el:'#root',
        data:{
			firstName:'张',
			lastName:'三'
        },
        methods:{
            
        }
    })
</script>
</html>